.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
    background: lightskyblue;
    border-radius: 10px;

  }
  .title:hover{
    cursor: pointer;
    color: rgb(0, 98, 255);
  }

  .preview {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
